
.text--color-one {
    color: $color--one;
}
.text--color-two {
    color: $color--two;
}
.text--color-three {
    color: $color--three;
}
.text--color-four {
    color: $color--four;
}
.text--color-darken {
    color: $white;
    opacity: .7;
}


.text--base {
    color: $base;
}
.text--primary {
    color: $primary;
}
.text--secondary {
    color: $secondary;
}
.text--success {
    color: $success;
}
.text--danger {
    color: $danger;
}
.text--warning {
    color: $warning;
}
.text--info {
    color: $info;
}