
.cta {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);
    overflow: hidden;
    @media (max-width: 575px) {
        clip-path: unset;
    }
}

.cta-content {
    &__title {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        @media (max-width: 1199px) {
            margin-bottom: 40px;
        }
        @media (max-width: 991px) {
            margin-bottom: 35px;
        }
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
} 

.cta-list {
    &__item {
        .cta-shape {
            position: absolute;
            max-width: 100%;
            z-index: -1;
            &.cta-shape-1 {
                left: 0;
                bottom: 30px;
                animation: cta-round 15s ease-in-out infinite;
            }
            &.cta-shape-2 {
                top: 8%;
                left: 8%;
                animation: cta-dots 10s ease-in-out infinite;
            }
            &.cta-shape-3 {
                right: 10%;
                top: 35%;
                animation: triangle 10s ease-in-out infinite;
            }
            &.cta-shape-4 {
                right: 23%;
                top: 20%;
                animation: vector 20s ease-in-out infinite;
            }
        }
    }
}

@keyframes cta-round {
    0%{
        transform: translateY(-160%);
    }
    50%{
        transform: translateY(0) scale(.5);
    }
    100%{
        transform: translateY(-160%);
    }
}

@keyframes cta-dots {
    0%{
        transform: scale(1); 
    }
    50%{
        transform: scale(.3); 
    }
    100%{
        transform: scale(1); 
    }
}
